<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pinyougou.mapper.SellerMapper">
	<select id="findAll" resultType="Seller">
		select * from tb_seller
		<where>
				status = #{status}
			<if test="name != null and name != ''">
				name like concat('%', #{name},'%')
			</if>
			<if test="nickName != null and nickName != ''">
				nick_name like concat('%', #{nickName},'%')
			</if>
		</where>
	</select>
</mapper>